<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The Wisco Kids were founded in 2015 and are a beginner league team in the Bowling Green softball league.  The Wisco Kids were founded on the guiding principles of having a good time and beer consumption, and have the record to show for it.  
</p>