<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Comments about the quality of this site, the skill level of the Wisco Kids, or any other issues can be directed here: <a href="http://tellsomeonewhocares.org">Site Administrator</a>
</p>