<% @user ||= current_user %>
<div class="stats">
    <strong id="following" class="stat">
    <% if !Beer.where(user_id: @user.id).take.nil? %>
      <%= Beer.where(user_id: @user.id).take.count %>
    <% else %>
      0
    <% end %>
    </strong>
    Beers Consumed
  <strong id="following" class="stat">
    <% if @user.haspaid?  %>
      <span style="color: green;">Paid</span>
    <% else %>
      <span style="color: red;">Has Not Paid</span>
      <%= link_to 'Pay Me at PayPal.Me', "https://www.paypal.me/adettwiler" %>
    <% end %>
    </strong>
  
</div>