<% provide(:title, 'Games') %>
<h1>All Games</h1>
<h4 style="text-align: center;">You can set your Attendance for the next upcoming game</h4>
<h4 style="text-align: center;">Click the link next to the game or go to your profile page</h4><br />
<ul class="users">
  <%= render @games %>
</ul>
